.boardContainer{
        display             : flex;
        background-color    : #d9dcdd;
        flex                : 1;
        overflow: scroll;
}
.boardContainer > * {
        padding: 20px;
}

.boardView{
        overflow: scroll;
}

.addStack{
        border-radius : 20px;
        background    : white;
        padding       : 15px;
        cursor        : pointer;
        color         : var(--primary_color);
        font-weight   : 500;

        align-self    : flex-start;
        /* flex       : 0 0 auto; calculate width automatically and size doesnot increase or decrease */
        flex          : 0 0 auto;
}