.board_item {
        padding       : 10px;
        margin-top    : 10px;
        margin-bottom : 10px;
        border-radius : 7px;
        background    : #f0f8ff;
}
.board_item:hover {
        background    : #e0f0ff;
        box-shadow    : 0px 0px 7px 1px #949494;
}

.board_item > * {
        padding-left    : 10px;
        padding-right   : 10px;
}