.board_list_container{
        height        : inherit;
        background    : white;
        border-radius : 10px;
}
.board_list_container > * {
        padding: 15px;
}

.board_list {
        padding       : 20px;
        flex          : 1;
        background    : #ececec;
        overflow: scroll;
}

.create_board{
        color: var(--primary_color);
}