.stack{
        background-color : aliceblue;
        /* min-width     : 100px;
        min-height       : 100px; */
        margin-left      : 5px;
        border           : 1px solid black;
        border-radius    : 10px;
        background-color : #edf0f1;
        width            : 320px;
}
.stack_header{
        height                    : 50px;
        padding                   : 10px;
        color                     : white;
        font-size : 21px;
        align-items: center;
        border-radius             : inherit;
        border-bottom-left-radius : revert;
        border-bottom-right-radius: revert;
}
.stack_footer {
        padding: 10px;
}
.stack_menu {
        position: relative;
}
.card_holder {
        /* flex: 1; */
        overflow: scroll;
}
.card_holder > * {
        margin: 10px;
}

.stack_name{
        flex      : 1 1 auto;
        text-align: center;
}