.stack{
        background-color    : aliceblue;
        /* min-width           : 100px;
        min-height          : 100px; */
        margin-left         : 5px;
        border              : 1px solid black;
        background-color    : #edf0f1;
        width               : 320px;
}
.stack_header{
        height    : 50px;
        padding   : 10px;
        color     : white;
}
.stack_footer {
        padding: 10px;
}
.card_holder {
        flex: 1;
        overflow: scroll;
}
.card_holder > * {
        margin: 10px;
}

.stack_name{
        flex: 1 1 auto;
}